@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    transition: background-color 0.3s, color 0.3s;
}

.darkMode {
    background-color: #000000;
    color: #ffffff;
}

.lightMode {
    background-color: #FFFAFA;
    color: #000000;
}

header {
    background-color: #A9A9A9;
}

header h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 45px;
}

header nav li {
    display: inline;
    margin-left: 25px;
}

header nav li a {
    text-decoration: none;
}

.darkMode header nav li a {
    color: #ffffff;
}

.lightMode header nav li a {
    color: #000000;
}

header button {
    padding: 10px 25px;
    font-size: 15px;
    cursor: pointer;
    margin: 20px;
    border: none;
    border-radius: 10px;
    font-family: "Noto Serif", serif;
}

header button:hover {
    transition: background-color 0.3s, color 0.3s;
    background-color: #DCDCDC;
}

.container {
    max-width: 75%;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    margin-top: 3%;
}

main .container {
    display: flex; 
    align-items: center; 
    align-items: flex-start;
    justify-content: space-between; 

}

.apresentation {
    width: 615px;
    display: flex;
    flex-direction: column;
}

.apresentation h2, .projectCesar h2, .projectFP h2, .projectCEP h2 {
    font-size: 36px;
    display: flex;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
}

.apresentation p {
    margin-top: 4%;
    font-size: 16px;
    font-family: "Noto Serif", serif;
    font-weight: 500;
    text-align: justify;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    gap: 27px;
}

.links li {
    list-style: none;
}

.buttonLinks {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 381px;
    text-align: center;
    border-radius: 8px; 
    padding: 21.5px 0; 
    text-decoration: none;
}

#github img {
    border-radius: 100%;
}

#github, #linkedin, #instagram {
    display: flex;
    gap: 16px;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    font-family: "Noto Serif", serif;
}

.buttonLinks img {
    width: 40px;
    height: 40px;
}

.buttonLinks:hover {
    transition: background-color 0.3s, color 0.3s;
    background-color: #A9A9A9;
}

.darkMode .buttonLinks {
    border: 2px solid #ffffff;
    color: #F6F6F6;
}

.lightMode .buttonLinks {
    border: 2px solid #000000;
    color: #000000;
}

.myPicture {
    height: 550px;
    width: 550px;
}

/* Segunda pagina: projetos */

.projectCesar, .projectFP, .projectCEP {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.projectCesar p, .projectFP p, .projectCEP p {
    margin-top: 20px;
    text-align: justify;
    font-family: "Noto Serif", serif;
    font-size: 15px;
    font-weight: 500;
}

.projectImg {
    height: 50%;
    width: 45%;
}

#FPProject {
    margin-top: 4%;
}

#FPProject .container {
    gap: 4%;
}

.FPImg, .CEPImg {
    height: 50%;
    width: 50%;
}

#CEPProject {
    margin-top: 4%;
    margin-bottom: 4%;
}

#CEPProject .container {
    gap: 4%;
}
